body {
  background: #282828;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #555;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#screen {
  position: relative;
  width: 100vw;
  height: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen h1 {
  font-size: 3rem;
}

#screen canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sliders {
  margin: 30px 20px 0;
  display: flex;
  flex-direction: column;
}

.sliders input {
  margin: 10px 0;
}

.sliders input[type='checkbox'] {
  margin-right: 0.5rem;
}
.sliders>div {
  display: flex;
  align-items: baseline;
}